/* ========== VARIABLES ========== */
:root {
  --white-color: #ffffff;
  --green-color: rgb(0, 128, 0);
  --text-color: #ffffff;
  --hover-color: #9e11e9d8;

  --btn-bg-color: #373e579d;
  --btn-bg-hover-color: #6a0b9dd8;
  --btn-golg-border: rgba(245, 222, 179, 1);

  --cardHeight: 175px;
  --cardWidth: 125px;

  --logo-font: "Raleway", sans-serif;
  --main-font: "Poppins", sans-serif;
}

/* ========== /VARIABLES ========== */

/* ========== GLOBAL ========== */

* {
  user-select: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--white-color);
  color: var(--white-color);
  overflow: hidden;
}

/* ========== END GLOBAL ========== */

/* ========== HEADER ========== */

.header-container {
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 10%;
  background-color: transparent;
}

.main-nav {
  display: flex;
  gap: 40px;
}

.main-nav a {
  font-size: 18px;
  color: var(--white-color);
  font-weight: 500;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: var(--hover-color);
}

.logo {
  font-family: var(--logo-font);
  font-size: 30px;
  font-weight: 800;
  color: var(--white-color);
  filter: drop-shadow(0 0 5px var(--hover-color));
}

/* ========== END HEADER ========== */

/* ========== MAIN ========== */

.main {
  min-height: 100vh;
  background-image: url("../image/main-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-wraper {
  display: flex;
  width: 100%;
  height: 100vh;
}


.hero-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
}

.hero-story {
  max-width: 40%;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.hero-section h1 {
  font-family: var(--logo-font);
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--white-color);
  filter: drop-shadow(0 0 5px var(--hover-color));
}

.new-game-btn {
  height: 55px;
  width: 200px;
  background-color: var(--btn-bg-color);
  border: 2px solid var(--white-color);
  box-shadow: 0 0 12px var(--hover-color);
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  color: var(--white-color);
  transition: background-color 0.3s;
}

.new-game-btn:hover {
  background-color: var(--btn-bg-hover-color);
}

/* ========== END MAIN ========== */

/* ========== MODAL HOW TO PLAY ========== */

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.modal-how-to-play {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: var(--green-color);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-how-to-play h2 {
  font-size: 48px;
  color: var(--white-color);
}

.modal-how-to-play p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--white-color);
  font-weight: 500;
}

.got-it-btn {
  width: 130px;
  height: 50px;
  background-color: var(--btn-bg-color);
  border: 2px solid var(--white-color);
  box-shadow: 0 0 12px var(--hover-color);
  border-radius: 10px;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
  color: var(--white-color);
  letter-spacing: 1px;
  transition: background-color 0.3s;
}

.got-it-btn:hover {
  background-color: var(--btn-bg-hover-color);
}

/* ========== END MODAL HOW TO PLAY ========== */

/* ========== GAME SECTION ========== */

.game-section {
  width: 100%;
  height: 100vh;
  background-color: var(--green-color);
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("../image/game-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
  left: -100%;
  transition: left 1500ms;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

}

.game-section.active {
  left: 0%;
}


.dealer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dealer-cards img {
  height: var(--cardHeight);
  width: var(--cardWidth);
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.player-cards img {
  height: var(--cardHeight);
  width: var(--cardWidth);
}

.btn-wraper {
  display: flex;
  gap: 30px;
}

.hit-btn,
.stay-btn {
  height: 45px;
  width: 150px;
  background-color: rgba(0, 128, 0, 0.65);
  border: 2px solid rgba(245, 222, 179, 0.2);
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  color: var(--white-color);
  text-transform: uppercase;
  transition: background-color 0.3s, border 0.3s;
}

.hit-btn:hover,
.stay-btn:hover {

  background-color: var(--green-color);
  border: 2px solid var(--btn-golg-border);
  text-transform: uppercase;
}


.count {
  display: flex;
  width: 250px;
  height: 130px;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../image/vs.jpg);
  border-radius: 25px;
  border: 3px solid wheat;
}

.count-dealer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-player {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 52px;
}

.exit-game{
  background-color: transparent;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 30px;
  font-family: var(--logo-font);
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--white-color);
  border: none;
  outline: none;
  transition: transform 0.3s;
}

.exit-game:hover, .exit-game:focus{
transform: scale(1.3);
}
/* ========== END GAME SECTION ========== */

/* ========== MOBILE ADAPTIVE ========== */



@media only screen and (max-width: 990px) {
  body {
    --cardHeight: calc(175px*0.7);
    --cardWidth: calc(125px*0.7);
  }

  .count {
    width: 180px;
    height: 90px;
    border-radius: 15px;
  }

  .counter {
    font-size: 32px;
  }

  .count-title {
    font-size: 14px;
  }

  .modal-how-to-play {
    width: 80%;

  }

  .modal-how-to-play p {
    font-size: 14px;
    line-height: 1.4;
  }

  .modal-how-to-play h2 {
    font-size: 36px;
  }
}


@media only screen and (max-width: 600px) {
  body {
    --cardHeight: calc(175px*0.5);
    --cardWidth: calc(125px*0.5);
  }

  .count {
    width: 150px;
    height: 70px;
    border-radius: 10px;
  }

  .counter {
    font-size: 24px;
  }

  .count-title {
    font-size: 12px;
  }

  .modal-how-to-play {
    width: 90%;

  }

  .modal-how-to-play p {
    font-size: 12px;
    line-height: 1.3;
  }

  .modal-how-to-play h2 {
    font-size: 28px;
  }

}


/* ========== END MOBILE ADAPTIVE ========== */